body {
	font-family: 'Rubik', sans-serif;
}

.header {
	padding: 5px;
	text-align: center;
}

.header__text {
	margin-bottom: 10px;

    color: black;
	font-weight: bold;
	font-size: 1em;
}

#spacer {
    width: 5px; /* Расстояние между колонками */
}

#maket {
    width: 100%; /* Ширина всей таблицы */

}
TD {
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    padding: 5px; /* Поля вокруг ячеек */
}

TD#leftcol {
    width: 200px; /* Ширина левой колонки */
    background: #ccc; /* Цвет фона левой колонки */
    border: 1px solid #000; /* Параметры рамки */
}

TD#rightcol {
    border: 1px solid #000; /* Параметры рамки */
    padding: 0px;
}

button {
    display: block;
    margin: 5px auto;
    width: 100%;
}

#canvas {
    width: 100%;
}