body {
    font-family: 'Rubik', sans-serif;
    background-color: #eeeeee;
}

.header {
	padding: 5px;
	text-align: center;
}

.header__text {
	margin-bottom: 10px;

    color: black;
	font-weight: bold;
    font-size: 1em;
}

#main_grid {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 15px;
    height: 80vh;
    margin-bottom: 15px;
}

button {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;  
}

#main_grid_right {
    background-color: white;
    border: 2px solid black;
}

#main_grid_left {
    background-color: grey;

}



